.root {
    -fx-background-color: #01e19a;
    -fx-font-size: 18px;
}

.gym-title {
    -fx-text-fill: white;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}
.button {
    -fx-background-color: #01e19a;
    -fx-border-color: black;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-padding: 15px;
    -fx-width: 200px;
    -fx-height: 100px;
}

.button:hover {
    -fx-background-color: #01c889;
    -fx-background-size: 10px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-font-size: 19px;
    -fx-padding: 16px;
    -fx-width: 200px;
    -fx-height: 100px;
    -fx-cursor: hand;
}


.combo-box {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}

.combo-box .arrow-button {
    -fx-background-color: #cecece;
    -fx-padding: 5px;
}

.combo-box .arrow-button:hover {
    -fx-background-color: #ddd;
}

.combo-box-popup {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.combo-box-popup .list-view {
    -fx-background-color: #000;
}

.combo-box-popup .list-cell {
    -fx-background-color: #01e19a;
    -fx-padding: 5px 10px;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #060270;
}