.root {
    -fx-background-color: #FFAE19;
    -fx-font-size: 18px;
}

.button {
    -fx-background-color: #FFAE19;
    -fx-border-color: black;
    -fx-border-radius: 25px;
    -fx-padding: 15px;
    -fx-width: 200px;
    -fx-height: 100px;
}


.button:hover {
    /*-fx-background-color: #cc8b14;*/
    -fx-border-radius: 25px;
    -fx-font-size: 19px;
    -fx-padding: 17px;
    -fx-width: 200px;
    -fx-height: 100px;
    -fx-cursor: hand;
}
